# environment
HOST_USER=ubuntu
HOST_DOMAIN=profullstack
HOST_PATH=numelli.com
HOST_PROJECT=numelli-api

# docker
DOCKER_CONTAINER_API_PORT=8538
DOCKER_CONTAINER_API_DEBUG_PORT=9227
DOCKER_NETWORK_NAME=numelli-network
DOCKER_CONTAINER_MONGO_NAME=numelli-db
DOCKER_CONTAINER_MONGO_PORT=28015
DOCKER_CONATAINER_REDIS_NAME=numelli-cache
DOCKER_CONTAINER_REDIS_PORT=6382
DOCKER_CONTAINER_ES_NAME=numelli-es
DOCKER_CONTAINER_ES_PORT=9202


# app
PORT=8537
NODE_ENV=production
JWT_SECRET=ciG4ardisF4

# meta
SITE_NAME=numelli
SITE_DOMAIN=numelli.com
SITE_URL=https://numelli.com
SITE_DESCRIPTION='Zero moderation Reddit clone.'

# MongoDB
MONGO_URI=mongodb://numelli:af84_s@mongo:27017/numelli?authSource=admin
MONGO_INITDB_ROOT_USERNAME=numelli
MONGO_INITDB_ROOT_PASSWORD=af84_s
MONGO_INITDB_DATABASE=numelli

# redis
REDIS_URL=redis://redis

# mailgun
MAILGUN_PASS=
MAILGUN_USER=postmaster@mg.numelli.com
MAILGUN_SMTP_HOST=smtp.mailgun.org
MAILGUN_SMTP_PORT=587

# coinpayments.net
COINPAYMENTS_KEY=
COINPAYMENTS_SECRET=

# BTCPAY
BTCPAY_PAIRING_CODE=nJeSuTb
BTCPAY_PRIVATE=4d4cbcfe0d507972fbe3b62d07f1c23eb5
BTCPAY_MERCHANT=MUSHcYLqRHag5MMCxbH2ggUYH
BTCPAY_URL=https://btcpay.profullstack.com
BTCPAY_NOTIFICATION=http://localhost:8537

ELASTIC_SEARCH_URI=http://es01:9200

STRIPE_API_KEY=
STRIPE_API_SECRET=

COST_SPONSORED_POST=2

#uploads
MAX_UPLOAD_SIZE=1073741824

#KEYS
AUTH_BRISKREADER=""

# BRISKREADER
BR_CAT_NEWS=""
